
#btn{
    width: 200px;
    height: 80px;
    margin: 5px;
    position: relative;
    left: 650px;
}
#inpt1{
    width: 300px;
    height: 60px;
    margin: 5px;
    position: relative;
    top: -300px;
}
#inpt2{
  width: 300px;
  height: 60px;
  margin: 5px;
  position: relative;
  top: -300px;
}
#inpt3{
  width: 300px;
  height: 60px;
  margin: 5px;
  position: relative;
  top: -300px;
}

#btn1{
    width: 300px;
    height: 60px;
    margin: 5px;
    position: relative;
    top: -300px;  
     
}
/* סגנונות לטבלה */
.custom-table {
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: -270px;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-bottom: 20px; /* מרווח בין הטבלאות */
}

/* סגנונות לכותרות העמודות */
.custom-table th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
}

/* סגנונות לתאים */
.custom-table td {
  border: 1px solid #ccc;
  padding: 10px 15px;
  text-align: center;
}

/* צבע רקע כל השורות בצבע אפור בהשוואה לאפן (even) */
.custom-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* צבע רקע בעת הרחקת העכבר מעל השורה */
.custom-table tbody tr:hover {
  background-color: #ddd;
}
  body{
    background-image: url("b.jpg");
  background-size: cover;
  }

  #inptLogin{
    width: 300px;
    height: 60px;
    position: relative;
    top: 80px;
  }

  #btnLogin{
    width: 300px;
    height: 60px; 
    position: relative;
    top: 100px;
  }

#btnDel{
    width: 300px;
    height: 60px;
    position: relative;
    top: -280px;
    
}
#inptDel{
    position: relative;
    top: -300px;
    width: 300px;
    height: 60px;  
}

@keyframes changeColor {
  0%   { color: aquamarine; }
  25%  { color: red; }
  50%  { color: blue; }
  75%  { color: green; }
  100% { color: purple; }
}
@keyframes changeColorH2 {
  0%   { color: black; }
  25%  { color: white; }

}
h1 {
  animation: changeColor 5s infinite;
}
h2{
    position: relative;
    top: -360px;
    animation: changeColorH2 5s infinite;
}
#h2{
  position: relative;
  top: -390px;
}

@media (max-width:768px){
  .App{
   
 
  align-content: center;
  align-items: center;
  background-image:url('b.jpg');
  background-repeat: no-repeat;
  background-size: cover;
width: 100%;
  height: 850px;


  }
  #input{
    position: relative;
 
  }

    
 
  #btn{
    width: 100px;
    height: 70px;
    margin-right: 200px;
    position: relative;

    
   
}
#div{
  width: 768px;
  height: 500px;
}
h2{
  position: relative;
  top: -500px;
  
}
#inpt{
  position: relative;
  top: -500px;
}



#btn1{
  position: relative;
  
}
select{
  position: relative;
  top: -150px;
}


#h2{
  position: relative;
  top: -500px;
}
#tr , .th{
 position: relative;
 top: -400px;
left: 50px;


 
 

}
.td{
  position: relative;

  top: -400px;
  left: 50px;
}
.td2{
  position: relative;
  top: -400px;
}
#input{
  position: relative;
  top: -420px;
}
#btnDel{
  width: 300px;
  height: 60px;
  position: relative;
  top: -380px;
  
}
#inptDel{
  position: relative;
  top: -400px;
  width: 300px;
  height: 60px;  
}

}