
body {
  background-image: url('bk.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* אפשרי אם ברצונך שהתמונה תהיה נצמדת למסך */
}
#input{
 position: relative;
 top: -70px;
}
#select{
  position: relative;
  top: 270px;
}
.image-container {
  position: relative;
}

#h3 {
  position: absolute;
  top: 0;
  left: 0;
 color: rgb(3, 105, 71);
 top: -185px;
  padding: 10px;
  width: 100%; /* הכותרת תתמלא לרוחב של התמונה */
  text-align: center; /* מרכז את הטקסט אופקית */
}

#btn{
    width: 200px;
    height: 80px;
    margin: 5px;
    position: relative;
    left: 750px;
}
#divdel{
  position: relative;
  top: -100px;
}
#divadd{
  position: relative;
  top: -350px;
}
#divinfo1{
  position: relative;
  left: 300px;
  margin: 2px;
  top: 10px;
}
#divinfo2{
  position: relative;
  top: -180px;
}
#divDel{
  position: relative;
  top: 250px;
}
#inpt1{
    width: 300px;
    height: 60px;
    margin: 5px;
    position: relative;
    top: 200px;
}
#inpt2{
  width: 300px;
  height: 60px;
  margin: 5px;
  position: relative;
  top: 200px;
}

#sortTitle{
  position: relative;
  top: -70px;
}
#inpt3{
  width: 300px;
  height: 60px;
  margin: 5px;
  position: relative;
  top: 200px;
}

#btn1{
    width: 300px;
    height: 60px;
    margin: 5px;
    position: relative;
    top: 220px;  
     
}
#addTilte{
  position: relative;
  top: 200px;
}
#divTable {
  overflow-y: auto;
  max-height: 400px;
  width: 60%; /* או כל רוחב שאתה רוצה לאלמנט */
  margin: 0 auto; /* ממרכז את האלמנט אופקית */
  position: relative;
  top: -50px;
}
.custom-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.custom-table thead th {
  position: sticky;
  top: 0;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
}

.custom-table tbody td {
  border: 1px solid #ccc;
  color: black;
  padding: 10px 15px;
  text-align: center;
}

/* Alternating row background colors */
.custom-table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Gray background for even rows */
}

.custom-table tbody tr:nth-child(odd) {
  background-color: white; /* White background for odd rows */
}

/* Hover effect */
.custom-table tbody tr:hover {
  background-color: #007bff; /* Blue background when hovering */
  color: white; /* White text color when hovering */
}
  body{
 
   overflow-x: hidden;
  background-size: cover;

  
  }
  #img{
    width: 100%;
  
    height: 500px;
    position: relative;
    top: -220px;
    right: 20px;
  }
html {
  scroll-behavior: smooth;
}
  #inptLogin{
    width: 300px;
    height: 60px;
    position: relative;
    top: 80px;
  }

  #btnLogin{
    width: 300px;
    height: 60px; 
    position: relative;
    top: 100px;
  }

#btnDel{
    width: 300px;
    height: 60px;
    position: relative;
    top: -280px;
    
}
#allFlightDiv{
  position: relative;
  top:-100px;
}
#sorFlightDiv{
  position: relative;
  top:-100px;
}
#inptDel{
    position: relative;
    top: -300px;
    width: 300px;
    height: 60px;  
}
#divInfo {
  width: 1720px;
  height: 300px;
  background-color: rgba(3, 24, 48, 0.845);
  position: relative; /* משמש לשמירת האלמנט במקום קבוע */
  left: 50%;
  bottom: 0;
  top: 1300px;
  transform: translateX(-50%);
}
#loginTitle{
  position: inherit;
  top: 50px;
}
#divLogin{
  position: relative;
  top: -150px;
}
#div {
 width: 1200px;
  position: absolute;
  top: 15%;
  left: 10%;
  transform: translate(-50%, -50%);
 
}

@keyframes changeColor {
  0%   { color: aquamarine; }
  25%  { color: red; }
  50%  { color: blue; }
  75%  { color: green; }
  100% { color: purple; }
}
@keyframes changeColorH2 {
  0%   { color: black; }
  25%  { color: white; }

}
h1 {
  animation: changeColor 5s infinite;
  position: relative;
  top: -300px;
  transform: translateX(-50%);
left: 50%;
}
h2{
  position: relative;
  top: -70px;
    animation: changeColorH2 5s infinite;
}

@media (max-width:768px){
  .App{
   
 
  align-content: center;
  align-items: center;
  background-image:url('b.jpg');
  background-repeat: no-repeat;
  background-size: cover;
width: 100%;
  height: 850px;


  }
  #input{
    position: relative;
 
  }

    
 
  btn{
    width: 100px;
    height: 70px;
    left:500px;
    position: relative;

    
   
}

h2{
  position: relative;
  top: -500px;
  
}
#inpt{
  position: relative;
  top: -500px;
}



#btn1{
  position: relative;
  
}
select{
  position: relative;
  top: -150px;
}


#h2{
  position: relative;
  top: -500px;
}
#tr , .th{
 position: relative;
 top: -400px;
left: 50px;


 
 

}
.td{
  position: relative;

  top: -400px;
  left: 50px;
}
.td2{
  position: relative;
  top: -400px;
}
#input{
  position: relative;
  top: -420px;
}
#btnDel{
  width: 300px;
  height: 60px;
  position: relative;
  top: -380px;
  
}
#inptDel{
  position: relative;
  top: -400px;
  width: 300px;
  height: 60px;  
}

}